html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}


.header {
  background-color: green;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}



.main {
  padding: 80px 80px;
}


.hello h1 {
  font-size: 140px;

}

.hello h2 {
  font-size: 60px;
}

.css {
  padding-left: 30px;
}

.HTML {
  padding-left: 37px;
}

.Ruby {
  padding-left: 30px;
}

.pg {
  padding-left: 30px;
}

.bb {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.contents-item1 {
  float: left;
  margin-right: 40px;
}

.contents-item2 {
  float: left;
  margin-right: 40px;
}
.contents-item3 {
  float: left;
  margin-right: 40px;
}
.contents {
  height: 500px;
  margin-top: 100px;
  /* display: flex; */
}

.contents-item p {
  font-size: 25px;
  margin-top: 40px;
  margin-right: 60px;
  padding-left: 30px;
}

.contact-form {
  padding-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 60px;
}

img.example1 {
  width: 250px;
  height: 250px;
  padding-left: 40px;
  }

img.example2 {
  width: 250px;
  height: 250px;
  padding-left: 33px;
  }

img.example3 {
  width: 250px;
  height: 250px;
  padding-left: 30px;
  }

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px dlid #dee7ec;
}

.contact-submit {
  background-color:#dee7ec;
  color:#889eab;
}

.footer {
  background-color: forestgreen;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size :32px;
}

.footer-list  {
  float: right;
}

.footer-list li {
  padding-bottom :20px;
}










